In [1]:
#Proprietary content. Â© Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.

## Read PDF file with python

In [54]:
!pip install PyPDF2

Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.6/dist-packages (1.26.0)

In [55]:
# importing required modules 
import PyPDF2 

# creating a pdf file object 
data = open('/content/Introduction_to_python_week_1.pdf', 'rb') 

# creating a pdf reader object 
reader = PyPDF2.PdfFileReader(data) 

# printing number of pages in pdf file 
print(reader.numPages)

52

In [56]:
# creating a page object 
page=  reader.getPage(0)

In [57]:
# extracting text from page 
print(page.extractText()) 

# closing the pdf file object 
data.close()

Python Installation & Data Structures

## Working with text file in Python

In [58]:
text_data= open("/content/demo_file.txt", "r")
print(text_data.read())

Hello! Welcome to greatlearning!!

## Working with CSV file

In [59]:
import numpy as np
import pandas as pd

In [60]:
data=pd.read_csv("/content/Reddit_Data.csv")

In [61]:
data.head()

                                       clean_comment  category
0   family mormon have never tried explain them t...         1
1  buddhism has very much lot compatible with chr...         1
2  seriously don say thing first all they won get...        -1
3  what you have learned yours and only yours wha...         0
4  for your own benefit you may want read living ...         1

In [62]:
data.columns

Index(['clean_comment', 'category'], dtype='object')

In [63]:
data.shape

(37249, 2)

In [64]:
data.describe()

           category
count  37249.000000
mean       0.202771
std        0.778515
min       -1.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [65]:
data.isnull().sum()

clean_comment    100
category           0
dtype: int64

In [66]:
data.isnull().any()

clean_comment     True
category         False
dtype: bool

In [67]:
data_part=data.dropna()

In [68]:
data_part

                                           clean_comment  category
0       family mormon have never tried explain them t...         1
1      buddhism has very much lot compatible with chr...         1
2      seriously don say thing first all they won get...        -1
3      what you have learned yours and only yours wha...         0
4      for your own benefit you may want read living ...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjpâ cell          0

[37149 rows x 2 columns]

In [69]:
data_part.shape

(37149, 2)

## Line tokenization

In [70]:
import nltk
data = "Welcome to Great Learning!! "
tokens = nltk.sent_tokenize(data)
print (tokens)

['Welcome to Great Learning!', '!']

## Word tokenization

In [71]:
tokens = nltk.word_tokenize(data)
print (tokens)

['Welcome', 'to', 'Great', 'Learning', '!', '!']

## Stemming

In [72]:
# import these modules 
from nltk.stem import PorterStemmer 

ps = PorterStemmer() 

# choose some words to be stemmed 
words = ["Like","Liking","Likes"] 

for i in words: 
	print(i, " : ", ps.stem(w))

Like  :  like
Liking  :  like
Likes  :  like

## Lemmatization

In [73]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [74]:
# import these modules 
from nltk.stem import WordNetLemmatizer 

lemmati = WordNetLemmatizer() 

print("socks:", lemmati.lemmatize("socks")) 
print("sons:", lemmati.lemmatize("sons"))

socks: sock
sons: son

## Removing stop words

In [75]:
from nltk.corpus import stopwords 
import nltk
nltk.download('stopwords')


data = """Data science is one of the most trendind field to work with. It needs data to give prediction by using the past scenarios"""

stop_word = set(stopwords.words('english')) 

print(stopwords.words() [620:680])

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
['your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at']

In [76]:
data= nltk.word_tokenize(data)

In [77]:
stops = set(stopwords.words('english'))

In [78]:
for word in data: 
    if word not in stops:
        print(word)

Data
science
one
trendind
field
work
.
It
needs
data
give
prediction
using
past
scenarios